@import "normalize";

@mixin placeholder($color, $size, $weight, $style) {
  &::-webkit-input-placeholder {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
  }
  &:-ms-input-placeholder {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
  }
  &:-moz-placeholder  {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
  }
}

::selection {
  background: #ddd; /* Safari */
}
::-moz-selection {
  background: #ddd; /* Firefox */
}


* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.cf:before, .cf:after {
  display: table;
  content: '';
}
.cf:after {
  clear: both;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  @media (max-width: 1170px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media (max-width: 1024px) {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 768px;
  }
}

/*HEADER*/
.main-header {
  height: 40px;
  background-color: #282828;
  color: #fff;

  .social-list {
    float: left;
  }
  .contacts-list {
    float: right;
    i {margin:0 10px;}
  }
  ul li {
    float: left;
    line-height: 40px;
    margin-right: 15px;
    &:last-child {margin-right: 0;}
  }
  @supports (display: flex) {
    .contacts {
      display: flex;
      justify-content:space-between;
    }
    .social-list, .contacts-list  {
       float: none;
       display: flex;
       justify-content:space-between;
       li {
         float: none;
       }
    }
  }
}
/*NAV*/
.main-nav {
  height: 80px;
  background-color: #fff;
  color: #000;

  .menu {
    width: 40px;
    height: 40px;

    cursor: pointer;
    span {
      position: relative;
      background-color:#111;
      height:2px;
      width: 100%;
      display: block;
      top:12px;
      &:before, &:after {
        content:"";
        height:2px;
        width: 100%;
        position: absolute;
        background-color:#111;
        display: block;
        top:-12px;
        transition: .3s;
      }
      &:after {
        top:12px;
      }
    }
    &.on {
      span {
        background-color: transparent;
        &:before {
          transform:translateY(12px) rotate(45deg) ;
        }
        &:after {
          transform:translateY(-12px) rotate(-45deg) ;
        }
      }
    }
  }
  .logo {
    float: left;
    line-height: 80px;
    text-transform: uppercase;
    color: #636666;
    font-size: 30px;
    font-weight: 400;
  }
  .nav-list {
    float: right;
  }
  .nav-list li {
    float: left;
    line-height: 80px;
    margin-right: 40px;
    text-transform: capitalize;
    font-size: 14px;
    transition: .4s;
    &:last-child {margin-right: 0;}
    &:hover {
      color: #ccc;
    }
  }
  .sign-link {
    border: 1px solid #5db442;
    padding: 10px 30px;
    border-radius: 50px;
    font-weight: 500;
    color: #5db442;
    font-size: 12px;
    transition: .4s;
    &:hover {
      background-color: #5db442;
      color: #fff;
    }
  }
  @supports (display: flex) {
    .container {
      display: flex;
      justify-content:space-between;
    }
    .logo {
      float: none;
    }
    .nav-list  {
      float: none;
      display: flex;
      justify-content:space-between;
      li {
        float: none;
      }
    }
  }
  @media (max-width:768px) {
    height:auto;
    .container {
      padding: 0;
      display: block;
    }
    .nav-list {
      display: none;
      width: 100%;
      text-align: center;
      li {
        display: block;
        margin-right: 0;
        color: #000;
        a {
          display: block;
          color: #000;
          &:not(.sign-link):hover {
            background-color: rgba(0,0,0,.15);
            color: #000;
          }
          &.sign-link {
            display: inline;
            padding: 20px 50px;
            color: #5db442;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
    .logo {
      display: block;
      margin: 0 auto;
      text-align: center;
    }
    .menu {
      display: block;
      position: absolute;
      right: 20px;
      top: 60px;
    }
    .menu.on ~ .nav-list {

    }
  }
}
/*BANNER*/
.s-banner {
  background-color: #4ca368;
  text-align: center;
  padding-bottom: 70px;
  .main-title {
    padding: 100px 12% 0;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
  }
  .subt {
    padding: 0 20%;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin-top: 0;
    margin-bottom: 35px;
  }
  .cta-form {
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 80px;
    input[type="text"] {
      width: 70%;
      border-top-left-radius:50px;
      border-bottom-left-radius:50px;
      border: 2px solid #37804e;
      padding: 10px 0 10px 15px;
      box-sizing: border-box;
      float: left;
      outline: 0;
    }
    input[type="submit"] {
      width: 30%;
      border-top-right-radius:50px;
      border-bottom-right-radius:50px;
      background-color: #37804e;
      color: #fff;
      padding: 10px 5px;
      border: 2px solid #37804e;
      cursor:pointer;
    }
    label {
      display: none;
    }
  }
  .terms {
    color: #fff;
    font-weight: 100;
    line-height: 26px;
  }
}
/*COMMUNITY*/
.s-community {
  background: #eee url(../img/slider-bg.jpg) ;
  text-align: center;
  .title {
    font-size: 48px;
    font-weight: 300;
    margin-top:0;
    padding-top: 100px;

  }
  .slider {
    width: 630px;
    height: 255px;
    margin: 0 auto;
    box-shadow: 0 0 6px rgba(64, 64, 64, 0.3);
    background-color: #fff;
    position: relative;
    overflow: hidden;
  }
  .arrow {
    width: 28px;
    height: 14px;
    border: 0;
    cursor: pointer;
    position: absolute;
    left: 40%;
  }
  .arrow-up {
    background: transparent url(../img/arrow-up.png) center no-repeat;
    top: 5%;
  }
  .arrow-down {
    background: transparent url(../img/arrow-down.png) center no-repeat;
    top: 15%;
  }
  .slide {
    background: url(../img/slide-icon.png) 25% 15% no-repeat;
    position: absolute;
    width: 100%;
    height: 200px;
    bottom: -200px;
    text-align: left;
    opacity: 0;
    transition: 2s;
    &.active {
      opacity: 1;
      bottom: 0;

    }
    h3 {
      color: #5db442;
      font-size: 26px;
      font-weight: 100;
      line-height: 24px;
      text-transform: uppercase;
      margin-left: 40%;
    }
    ol {
      margin-left: 40%;
      padding: 0;

      li {
        list-style: decimal;
        list-style-position: inside;
        line-height: 28px;
      }
    }
  }
  .indicator-group {
    width: 630px;
    margin: 0 auto;
    .indicator {
      height: 100px;
      margin-top: 50px;
      color: #333;
      font-size: 12px;
      font-weight: 300;
      line-height: 24px;
      display: inline-block;
      width: 32.8%;
      &.active-i .fa{
        background-color:#5db442;
        color: #fff;
      }
      .fa {
        display: block;
        margin: 0 auto;
        width: 46px;
        height: 46px;
        line-height: 46px;
        color: #5db442;;
        border: 1px solid #5db442;
        border-radius: 50%;
        margin-bottom: 15px;
        font-size: 16px;
        font-weight: 400;
        background-color: #fff;
      }
    }
  }
}


/*SERVICES*/
.s-services {
  text-align: center;
  padding-bottom: 100px;
  .title {
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    margin: 0;
    text-transform: capitalize;
    padding: 100px 0 40px 0;
  }
  .radio-group {
    margin-bottom: 50px;
    input{
      display: none;
      position:absolute;
      clip: rect(0,0,0,0);
      clip: rect(0 0 0 0);
    }
    input:checked + label {
      background-color: #5db442;
      color: #fff;
    }
    label {
      padding: 10px 20px;
      display: inline-block;
      font-size: 12px;
      font-weight: 400;
      text-transform: capitalize;
      border: 1px solid #ececec;
      transition: .4s;
    }
    label[for="radio-b"] {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
      margin-right: -4px;
      position: relative;
      border-right:0;
      &:after {
        content: 'OR';
        font-size: 10px;
        line-height: 20px;
        color: #fff;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: #4ca368;
        border-radius: 50%;
        right: -10px;
        top:calc(50% - 10px);
      }
    }
    label[for="radio-c"] {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
      border-left: 0;
    }
  }
  .services-list {
    display: none;
    &.list-checked{
      display: block;
    }
    @supports (display: flex) {
      justify-content: space-around;
      &.list-checked{
        display: flex;
      }
    }
    >li {
      border: 1px solid #ececec;
      width: 25%;
      display: inline-block;
      position: relative;
      &+li {
        margin-left: 5%;
        @supports (display: flex) {
          margin: 0;}
      }
      &:before {
        content: '';
        width: 30%;
        height: 2px;
        background-color: #ccc;
        position: absolute;
        top: 1px;
        left:35%;
        transition: .3s;
      }
      &:hover:before {
        background-color: #5db442;
      }
    }
    h3 {
      color: #333;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      margin: 27px 0;
    }
    .price {
      height: 90px;
      margin: 0 auto;
      position: relative;
      &:before {
        content: "";
        width: 100%;
        height: 1px;
        background-color: #ececec;;
        display: block;
        position: absolute;
        top: 50%;
      }
      &:after {
        content: "";
        width: 90px;
        height: 90px;
        background-color: #fff;
        display: block;
        border: 1px solid #5db442;
        border-radius: 50%;
        position: absolute;
        top: calc(50% - 45px);
        left: calc(50% - 45px);
        z-index: 3;
        box-shadow: 0 0 0 2px #ccc;
      }
      .price-itself {
        font-size: 23px;
        font-weight: 500;
        text-align: center;
        position: absolute;
        width: 90px;
        top:calc(50% - 19px);
        left: calc(50% - 45px);
        z-index: 4;
        span {
          display: block;
          font-size: 10px;
          font-weight: 300;
          font-style: italic;
        }
      }
    }
    .purchase-btn {
      border: 1px solid #ececec;
      border-radius: 50px;
      color: #333;
      font-size: 10px;
      font-weight: 400;
      padding: 12px 35px;
      background-color: #fff;
      text-transform: uppercase;
      transition: .4s;
      cursor: pointer;
      margin-bottom: 40px;
    }
    >li:hover .purchase-btn {
      color: #fff;
      background-color: #5db442;
    }
  }
  .plan-list {
    margin: 35px 0;
    li {
      color: #777;
      font-size: 12px;
      font-weight: 500;
      line-height: 30px;
      text-transform: capitalize;
    }
    .fa-check-circle { color: #5db442;}
    .fa-times { color: #f00;}
    .fa {
      margin-right: 5px;
    }
  }
}

/*ANALYTICS*/
.s-analytics {
  text-align: center;
  background: #eee url(../img/analytics-bg.jpg) center;
  padding-bottom: 100px;
  .title {
    font-size: 48px;
    font-weight: 300;
    line-height: 60px;
    text-transform: capitalize;
    padding-top: 100px;
  }
  .analitycs-list {
    @supports (display: flex) {
      display: flex;
      flex-wrap: wrap;
    }
  }
  .col-3 {
    box-shadow: 0 1px 4px rgba(64, 64, 64, 0.3);
    background-color: #fff;
    padding: 20px 16px;
    margin: 1%;
    width: 23%;
    @media (max-width: 1170px) {
      margin: 2%;
      width: 46%;
    }

    transition: .2s;
    float: left;
    &:hover {
      background-color: #5db442;
      color: #fff;
      .fa, h3, p {color: #fff;}

    }
    .fa {
      color: #5db442;
      font-size: 60px;
      padding: 20px 5px;
      border-bottom: 2px solid #ececec;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 16px;
      font-weight: 400;
      text-transform: uppercase;
      margin: 0 0 36px 0;
      color: #333;

    }
    p {
      font-size: 12px;
      font-weight: 300;
      line-height: 22px;
      margin-top: 0;
      margin-bottom: 40px;
      color: #777;
    }
  }
}

/*Top FOOTER*/

.main-footer {
  padding-top: 40px;
  background-color: #efefef;
  padding-bottom: 40px;
  .footer-col {
    h3 {
      color: #010101;
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 28px;
      margin-top: 0;
      text-transform: capitalize;
    }
    p {
      color: #333;
      font-size: 12px;
      line-height: 24px;
    }
    .cta-form-footer {
      width: 100%;
      input {
        padding: 15px 20px;
        border: 0;
        @include placeholder(#dedede, 12px, 100, italic);
      }
      input[type="email"] {
        width: 80%;
        float: left;
        background-color: #fff;
      }
      input[type="submit"] {
        width: 20%;
        background-color: #5db442;
        color: #fff;
        cursor: pointer;
      }
    }
    float: left;
  }
  .flex-wrapper {
    @supports (display: flex){
      display: flex;
      justify-content:space-around;
      flex-wrap: wrap;
      .footer-col {
        float: none;
      }
    }
  }
  .links-list {
    li {
      color: #333;
      font-size: 13px;
      line-height: 30px;
      text-transform: uppercase;
      a:hover {
        color: #aaa;
      }
    }
  }
  .form-col {
    width: 25%;
  }
  .col-15 {
    width: 15%;
    margin-left: 10%;
  }
  @media (max-width: 1024px) {
    .form-col {
      width: 60%;
      margin: 0 20% 3%;
    }
    .col-15 {
      width: 20%;
      margin:2% 6.6%;
      line-height: 45px;
    }
  }
}
hr {
  background-color: #e1e2e3;
  height: 1px;
  border: 0;
  margin: 0;
}

/*Bottom FOOTER*/

.copyright {
  background-color: #efefef;
  padding: 20px 0;
  .copy {

    color: #777;
    font-size: 11px;
    font-weight: 300;
    line-height: 17px;
    text-align: right;
    span {
      display: block;
    }
    float: right;
  }
  .logo {
    color: #636666;
    font-size: 20px;
    font-weight: 400;
    float: left;
    line-height: 56px;
  }
  .flex-wrapper {
    @supports (display: flex){
      display: flex;
      justify-content:space-between;
      align-items: center;
      .copy, .logo {
        float: none;
      }
    }
  }
}
