
* {
  font-family: cursive, Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.btn {
  cursor: pointer;
  display: inline-block;
  color: #777674;
  font-weight: bold;
  text-shadow: rgba(255,255,255,.5) 1px 1px, rgba(100,100,100,.3) 3px 3px 3px;
  user-select: none;
  padding: 2em;
  margin-bottom: 1em;
  border: 0;
  outline: none;
  border-radius: 50%;
  background-color: gold;
  background-image:
   linear-gradient(45deg, rgba(255,255,255,.0) 30%, rgba(255,255,255,.8), rgba(255,255,255,.0) 70%),
   linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0) 20%, rgba(255,255,255,0) 90%, rgba(255,255,255,.3));
  background-repeat: no-repeat;
  background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px;
  background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
  box-shadow: rgba(0,0,0,.5) 3px 10px 10px -10px;
}
.btn:hover {
  transition: .5s linear;
  background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px);
}
a {
  color: gold;
  text-shadow: 1px 1px black;
}
header, section {
  text-align: center;
  line-height: 1.95;
}
body {
  background: url(../img/bg.jpg) top center no-repeat;
  background-size: cover;
}
.container {
  max-width: 600px;
  margin: 60px auto;
}
canvas {
  display: block;
}